<!DOCTYPE html>
<html>

<head>
	<title>
		SVPa - Gestione Opere
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
	<aside th:replace="~{fragments/sidebar}"></aside>
	<div class="main-container">

			<h1 class="main-title">Gestione Opere</h1>
			<ul class="list">
				<a href="/admin/formNewArtwork"><li><i class="fa-solid fa-plus"></i>  Inserisci una nuova opera</li></a>
			
				<a href="/artwork"><li>Gestisci opere</li></a>
			</ul>
		
	</div>
</body>

</html>